@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
}

:root {
    --font-size: 1.40rem;
}

img {
    width: 500px;
}

.structure {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.logo {
    position: relative;
    display: flex;
    justify-content: center;
}

.name {
    position: absolute;
    color: white;
    text-align: center;
    margin: 10px;
    top: 300px;
    font-weight: 700;
    font-size: 3.75rem;
}

.logo p {
    position: absolute;
    bottom: 0%;
    color: white;
    margin: 0;
    padding: 0;
}

.logo a {
    color: white;
}

.message {
    font-size: var(--font-size);
    background-color: whitesmoke;
    padding: 50px;
    font-weight: 500;
}

.instruction {
    display: block;
    margin-top: 30px;
    font-weight: 400;
    font-size: 1.125rem;
}

form h1 {
    color: white;
}

.names, .email_num, .pass {
    margin: 10px 8px;
}

.log_in {
    font-weight: 700;
    cursor: pointer;
}

.button {
    background-color: #7f5539;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
}

input {
    appearance: none;
    border-radius: 10px;
    border: 1px solid grey;
    font-weight: 500;
    font-size: medium;
    padding: 6px 8px;
}

form {
    padding: 10px 50px;
    background-color: #a39171;
    box-shadow: 0px 5px 3px 0px #6f5e53;
    font-size: 1.5rem;
    color: whitesmoke;
}

.submit {
    padding: 35px 50px;
    font-size: 1.25rem;
}

.submit p {
    margin-top: 30px;
}

@media only screen and (max-width: 768px) {
    .structure {
        flex-wrap: wrap;
    }

    .logo {
        height: 100px;
    }

    .logo p {
        display: none;
    }

    .message {
        margin: 8px 0;
    }

    .form {
        padding-left: 60px;
        margin: 10px;
    }
}